* {
  box-sizing: border-box;
}
body {
  min-width: 400px;
  max-width: 1300px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
  margin: 0 auto;
}

nav {
  width: 100%;
}

.navigation {
  display: grid;
  grid-template-columns: auto;
  color: white;
}

.first-grid a {
  text-decoration: none;
  color: white;
}

.second-grid a {
  text-decoration: none;
  color: black;
}

.second-grid a:hover {
  color: #f72210;
}

.first-grid {
  background-color: #f72210;
  font-size: 1.5rem;
}

.second-grid {
  background-color: #ffffff;
  font-size: 1.5rem;
}

.subscribe-nav {
  background-color: #ffffff;
  color: #f72210 !important;
}

.SandS {
  position: relative;
  top: 1em;
  right: 1em;
}

.fa-search {
  color: black;
}

.newsweek {
  font-size: 2em;
}

.grey {
  color: #a0a0a0;
  font-size: 1.5rem;
}

.world {
  position: relative;
  background-color: #eef3f0;
  top: -1em;
  font-size: 1.5rem;
  width: 25%;
}

.world a {
  text-decoration: none;
  color: #f72210;
}

.world2 {
  position: relative;
  background-color: #eef3f0;
  top: -1.9em;
  font-size: 1.5rem;
  width: 7rem;
}

.world2 a {
  text-decoration: none;
  color: #f72210;
}

.pandemic {
  background-color: #c2d4d7;
  position: relative;
  bottom: 1.9em;
  width: 5em;
}

.featured {
  font-size: 1.5rem;
}

.paragraph {
  font-size: 0.9rem;
  color: #b0b0b0;
}

.featured p {
  font-size: 1rem;
  color: #b0b0b0;
}

.featured a {
  color: black;
}

.featured a:hover {
  text-decoration: underline #f72210;
}

.pandemic-section a {
  text-decoration: none;
  color: #7c7c7c;
}

.pandemic-section a:hover {
  text-decoration: none;
  color: #7c7c7c;
}

.latest-news-text {
  position: absolute;
  left: 11em;
  top: 1em;
}

.subscribe-text {
  font-size: 1.5rem;
  position: absolute;
  left: 13em;
  bottom: 9em;
  color: black;
}

.subscribe-p {
  font-size: 1.3rem;
  position: absolute;
  left: 15em;
  bottom: 7em;
}

.newsletter-text {
  font-size: 1.5rem;
  position: absolute;
  left: 13em;
  bottom: 12em;
 
}

.newsletter-text-p {
  font-size: 1rem;
  position: absolute;
  left: 17em;
  bottom: 10em;

}

.pandemich2 {
  font-size: 1.5em;
}

.opinion-img {
  width: 100px;
  height: 100px;
}

.fauzi {
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #7c7c7c;
  padding-top: 1em;
}

.sponsored {
  background-image: url("images/sponsored.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border: 2px solid grey;
}

.sponsored-text {
  padding-top: 300px;
}

.anchor {
  color: black;
  font-size: 1rem;
}

.anchor a {
  color: black;
}

.anchor a:hover {
  text-decoration: underline red;
}

.anchor2 {
  color: black;
  font-size: 0.9rem;
}

.anchor2 a {
  text-decoration: none;
  color: black;
}

.anchor2 a:hover {
  color: red;
}

.debate2text {
  margin-top: 7em;
}

.image-size {
  width: 100%;
}

.latest-news-image {
  width: 150px;
  height: 150px;
}

.more-stories-image {
  height: 150px;
  width: 150px;
  padding-top: 1em;
}

.debate-picture1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20em;
  top: -0.5em;
}

.debate-picture2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20em;
  top: 6.5em;
}

.card-picture {
  height: 300px;
  width: 300px;
}

.more-stories-text {
  position: absolute;
  left: 13em;
  bottom: 3em;
}

.opinion-text {
  position: absolute;
  left: 9em;
  bottom: 1em;
}
.debate-text {
  position: absolute;
  left: 8em;
  bottom: 2em;
}

.aside-text {
  position: absolute;
  left: 13em;
  bottom: 3em;
}

.debate1 {
  border-top: 4px solid #f92859;
  border-bottom: 4px double #e2e2e2;
  position: relative;
}

.debate2 {
  border-top: 4px solid #1c87fb;
  border-bottom: 4px double #e2e2e2;
  position: relative;
  top: 7em;
}

.division {
  font-size: 1.5rem;
  color: #f92859;
}

.vs {
  text-align: center;
  border-radius: 200px 200px 200px 200px;
  background-color: black;
  color: #e2e2e2;
  width: 50px;
  height: 50px;
  padding-top: 1em;
  position: absolute;
  left: 10em;
  top: 4em;
}

.features {
  color: black;
  font-size: 1.3rem;
}

.div-height {
  height: 20em;
}

.latest-news-div {
  margin-top: 5em;
}

.margazine-section {
  margin-top: 2em;
}

.n {
  color: white;
  background-color: #f92859;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.may {
  color: #f92859 !important;
  background-color: #ecf5fb;
  font-size: 1.5rem;
  width: 40%;
  position: relative;
  top: -1.9em;
}

.education {
  font-size: 1.3rem;
  color: white;
  background-color: #f92859;
}

.red {
  color: #f92859;
  font-size: 1.3rem;
}

.spacing {
  word-spacing: 10px;
}

.button {
  position: absolute;
  left: 25em;
  top: 13em;
}

.newsletter {
  background-image: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png");
  background-size: 1 100%;
  background-repeat: no-repeat;
  height: 50vh;
  background-position-x: -200px;
  margin-top: 2rem;
}

.footer-logo {
  color: #f72210;
  height: 50px;
}

.button {
  position: absolute;
  left: 16em;
}

@media only screen and (min-width: 575px){
  
}