*{
  box-sizing: border-box;
}
body {
  width: 100%;
  color: black;
}

.navigation {
  display: grid;
  grid-template-columns: auto;
  color: white;
}

.first-grid a {
  text-decoration: none;
  color: white;
}

.second-grid a {
  text-decoration: none;
  color: black;
}

.second-grid a:hover {
  color:  #F72210;
}

.first-grid {
  background-color: #F72210;
  
  
}

.second-grid {
  background-color: #FFFFFF;
  
}

.newsweek {
  font-size: 5em;
}

.opinion-img {
  width : 100px;
  height: 100px;
}

.fauzi {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding-top: 1em;
}

.sponsored {
  background-image: url("images/sponsored.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  border: 2px solid grey;
}

.sponsored-text {
  padding-top: 300px;
}

.image-size {
  width: 100%;

}

.more-stories-image {
  height: 150px;
  width: 150px;
}

.more-stories-text {
 position: absolute;
 left: 13em;
 bottom: 5em;
}

.opinion-text {
  position: absolute;
 left: 9em;
 bottom: 4em;
 
}

.debate1 {
  border-top: 4px solid #F92859;
  border-bottom:4px double #e2e2e2;
}